name: Trigger Netlify Build

on:
  push:
    branches:
      - main   # or whichever branch you want

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Netlify Build Hook
        run: |
          curl -X POST -d '{}' https://api.netlify.com/build_hooks/69750f9cf14d640c36839421